/**
  * @name FemboyCord [V3]
  * @author Femboy KV (@19701465)
  * @version 1.0
  * @description Highly customized pink and purple theme for Discord!
*/

@import url('https://ph1syc.github.io/Dark-Plus/dark-plus-logo-less.theme.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://media.discordapp.net/attachments/1226914322064871484/1233860811399762041/image_2.png?ex=662ea1ed&is=662d506d&hm=50178b15d6d6690820db7b2abfba0ff29fba7d1e43d4ed6dec9ae81f319354a6&=&format=webp&quality=lossless&width=470&height=468);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
